{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-3">Hot Spots</h2>

                <form id="hotspotForm" action="/infoHotSpotsRequest" method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="the_file" class="form-label">Choose a file (only .pdb files are allowed):</label>
                        <input class="form-control" type="file" id="the_file" name="the_file" accept=".pdb" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="pocket_res_name" class="form-check-label">Pocket residue name</label>
                        <input class="form-number-input" type="text" id="pocket_res_name" name="pocket_res_name" value="">
                    </div>

                    <div class="mb-2">
                        <button type="button" class="btn btn-sm btn-primary" id="selectAllHotspot">
                            Select All
                        </button>
                    
                        <button type="button" class="btn btn-sm btn-secondary" id="deselectAllHotspot">
                            Deselect All
                        </button>          
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Hotspot types</label>
                    
                        <div id="hotspotTypeSelection" class="row">
                        </div>              
                    </div>

                    <button type="submit" class="btn btn-primary">Run</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/viewer/hotSpotsForm.js') }}"></script>

{% endblock %}