<!-- base.html -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% block style %}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <div id="divNavBarLogo">
                    <img src="{{ url_for('static', filename='img/logoUniv.png') }}" height="40" alt="University logo">
                    <a class="text-white text-decoration-none">Protein viewer</a>
                </div>
                <a class="text-white text-decoration-none"> EN </a>
            </div>
        </nav>
    </header>

    <div class="d-flex flex-grow-1">
        <div id="sidebar" class="bg-white text-black">

            <button id="toggleBtn" class="btn bg-white w-100 mb-3">
                <i class="bi bi-list"></i>
            </button>

            <ul class="nav flex-column">

                <li class="nav-item p-2" onclick="window.location.href='{{ url_for('viewer.index') }}'">
                    <i class="bi bi-house-fill"></i> <span class="menu-text"> Home </span>
                </li>

                <li class="nav-item p-2" onclick="window.location.href='{{ url_for('viewer.fitnessForm') }}'">
                    <i class="bi-rulers"></i> <span class="menu-text"> Score a file</span>
                </li>

                <li class="nav-item p-2">
                    <i class="bi bi-radar"></i> <span class="menu-text"> Hot spots</span>
                </li>

                <li class="nav-item p-2" onclick="window.location.href='{{ url_for('viewer.requestFormComparison') }}'">
                    <i class="bi bi-front"></i> <span class="menu-text"> Compare</span>
                </li>

            </ul>

        </div>

        <main id="content" class="flex-grow-1 p-4">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="bg-primary mt-auto py-3 border-top text-white">
        <div class="container d-flex justify-content-between align-items-center">
            <a>Internship Project - Helsinki University</a>
            <a>Hadet Matis</a>
        </div>
    </footer>

    <!-- TODO : refactor the script to be in a separate file and not in the base.html -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    {% block scripts %}
    {% endblock %}

    <script>

        const logo = document.getElementById("divNavBarLogo");

        logo.addEventListener("click", () => {
            window.location.href = "{{ url_for('viewer.index') }}";
        });

        const sidebar = document.getElementById("sidebar");
        const toggleBtn = document.getElementById("toggleBtn");

        // Restaurer
        if (localStorage.getItem("sidebarCollapsed") === "true") {
            sidebar.classList.add("collapsed");
        }

        // Sauvegarder
        toggleBtn.addEventListener("click", () => {

            sidebar.classList.toggle("collapsed");

            localStorage.setItem(
                "sidebarCollapsed",
                sidebar.classList.contains("collapsed")
            );
        });
        
        function showErrorPopup(text) {
            const modal = document.createElement("div");

            modal.innerHTML = `
                <div class="modal fade" id="errorModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Error</h5>
                            </div>

                            <div class="modal-body">
                                <p>${text}</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="errorHomeButton">
                                    Return to home
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            `;

            document.body.appendChild(modal);

            const modalElement = document.getElementById("errorModal");
            const bootstrapModal = new bootstrap.Modal(modalElement);

            bootstrapModal.show();

            document.getElementById("errorHomeButton").addEventListener("click", () => {
                window.location.href = "/";
            });

            // Supprime la modal du DOM après fermeture
            modalElement.addEventListener("hidden.bs.modal", () => {
                modalElement.remove();
            });
        }

    </script>
</body>

</html>