biopython 
brotlipy 
cached-property 
certifi==2023.7.22
cffi
chardet 
charset-normalizer 
colorama 
contourpy==1.1.0
cryptography 
cycler==0.11.0
defusedxml 
ete3==3.1.2
fonttools==4.40.0
greenlet==2.0.2
h5py 
idna 
importlib-resources==6.0.0
joblib==1.0.1
kiwisolver==1.4.4
lml 
lxml 
matplotlib==3.7.2
mendeleev==0.13.1
munkres==1.1.4
muscle==0.0.4
numpy 
odfpy==1.4.1
packaging==23.1
pandas==1.4.4
patsy 
Pillow==9.4.0
Pmw 
psutil==5.8.0
pycosat==0.6.3
pycparser 
pyexcel 
pyexcel-ezodf==0.3.4
pyexcel-io 
pyexcel-ods3 
pyfiglet==0.8.post1
Pygments==2.15.1
# pymol==2.5.4
pymolPy3==0.1.2
pyOpenSSL 
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5_sip>=12.8,<13
PyQtAds 
PyQtChart==5.15.5
Pyqtree 
PyQtWebEngine==5.15.6
PySocks 
python-dateutil 
pytz 
requests 
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==0.24.2
scipy==1.6.3
seaborn
six 
sklearn==0.0
SQLAlchemy==2.0.13
statsmodels 
texttable 
threadpoolctl==2.1.0
tornado 
tqdm 
typing_extensions 
tzdata 
unicodedata2 
urllib3 
zipp==3.16.0
